.env

.mpd

# Python cache
**/__pycache__/


# Checkpoints and logs during training
checkpoints/
logs/
*.zip
*.npz


# Virtual Environment
venv/
.venv/


# Heavy Datasets (Network Traces)
data/cooked_traces/
data/cooked_test_traces/


media/

dash_server/segments/0
dash_server/segments/1
dash_server/segments/2




# Ignore compiled python files
*.pyc
*.pyo
*.pyd